*{
    margin: 0;
    font-family: Arial;
    border: border-box;
}
.navbar{
    height: 60px;
    background-color: #0f1111;
    color: white;
    display: flex;
    align-items: center;
}

.nav-logo {
    height: 50px;
    width: 100px;
}
.logo {
   background-image: url("img/amazon_logo.png");
   background-size: cover;
   height: 50px;
   width: 100%;
}
.border {
    border: 1px solid transparent;
}
.border:hover {
    border: 1px solid white;
}

/* box 2 */
.add-first{
   color: #cccccc;
   font-size: 0.85rem;
   margin-left: 15px;

}
.add-second{
   font-size: 1rem;
   margin-left: 3px;
}

.add-icon{
    display: flex;
    align-items: center;
}
