*{
    margin: 0;
    font-family: Arial;
    border: border-box;
}
.navbar{
    height: 60px;
    background-color: #0f1111;
    color: white;
}

.nav-logo {
    height: 50px;
    width: 100px;
}
.logo {
   background-image: url("img/amazon_logo.png");
   background-size: cover;
   height: 50px;
   width: 100%;
}
.border {
    border: 1px solid transparent;
}
.border:hover {
    border: 1px solid white;
}